<button routerLink="/Groups">Go back</button>
<button type="button" (click)="this.GetMyPosts()">Refresh</button>

<br>

<div>
    <h1>Your Redy Posts</h1>
    <div *ngFor="let post of this.MyRedyPosts">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">{{ post.author.login }}</div>
            <div class="card-body">
                <h5 class="card-title">Dark card title</h5>
                <p class="card-text">{{ post.text }}</p>
            </div>
        </div>
    </div>
    <ng-template #NoRedyPosts>You have no Redy posts.</ng-template>
</div>

<br>

<div>
    <h1>Your normal Posts</h1>
    <div *ngFor="let post of this.MyNormalPosts">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">{{ post.author.login }}</div>
            <div class="card-body">
                <h5 class="card-title">Dark card title</h5>
                <p class="card-text">{{ post.text }}</p>
            </div>
        </div>
    </div>
    <ng-template #NoNormalPosts>You have no normal posts.</ng-template>
</div>

<br>

<div>
    <!--Match en cours-->
</div>