<div *ngIf="!this.GroupService.ChoosedGame && !this.GroupService.ChoosedCountry">
    <button type="button" *ngFor="let game of ListGames" (click)="this.GroupService.ChoosedGame = game">{{ game.name }}</button>
</div>

<div *ngIf="this.GroupService.ChoosedGame && !this.GroupService.ChoosedCountry">
    <button type="button" *ngFor="let country of ListCountries" (click)="this.GroupService.ChoosedCountry = country">{{ country.name }}</button>
</div>

<div *ngIf="this.GroupService.ChoosedGame && this.GroupService.ChoosedCountry">
    <button type="button" *ngFor="let rank of this.GroupService.ChoosedGame?.ranks" (click)="this.GroupService.ChoosedRank = rank">{{ rank.name }}</button>
</div>