<div *ngIf="!ChoosedGame && !ChoosedCountry">
    <button type="button" *ngFor="let game of ListGames" (click)="ChoosedGame = game">{{ game.name }}</button>
</div>

<div *ngIf="ChoosedGame && !ChoosedCountry">
    <button type="button" *ngFor="let country of ListCountries" (click)="ChoosedCountry = country">{{ country.name }}</button>
</div>

<div *ngIf="ChoosedGame && ChoosedCountry">
    <button type="button" *ngFor="let rank of ChoosedGame?.ranks" (click)="ChoosedRank = rank">{{ rank.name }}</button>
</div>